body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffde7;
  color: #212121;
}

/* Navbar */
.navbar {
  background-color: #ffffff;
}

.nav-link:hover {
  color: #fbc02d;
}

/* Home */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Icons */
.hero-icons a {
  font-size: 26px;
  margin: 0 10px;
  color: #212121;
}

.hero-icons a:hover {
  color: #fbc02d;
}

/* Section */
.section {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  font-weight: bold;
}

.section-line {
  width: 70px;
  height: 3px;
  background-color: #fbc02d;
  margin: 10px auto 30px;
}

/* About */
.about-text {
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: #555;
}

/* Skills */
.skill-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  transition: 0.4s;
}

.skill-card:hover {
  transform: translateY(-8px);
}

/* Education */
.edu-card {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 14px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

/* Certifications */
.cert-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.cert-card img {
  width: 100%;
  border-radius: 10px;
}

/* Contact */
.contact-info i {
  color: #fbc02d;
  margin-right: 10px;
}

.contact-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Footer */
footer {
  background: #ffffff;
  color: #555;
}
