body {
  font-family: 'Segoe UI', sans-serif;
  background: #f8f9fa;
}

.hero-section {
  min-height: 100vh;
  background: linear-gradient(to right, #e8f0ff, #ffffff);
  display: flex;
  align-items: center;
}

.hero-section span {
  color: #0d6efd;
}

.profile-img {
  width: 260px;
  border-radius: 50%;
}

.social a {
  font-size: 22px;
  margin-right: 15px;
  color: #0d6efd;
}

.section {
  padding: 80px 0;
}

.bg-soft {
  background: #eef3ff;
}

.box {
  background: white;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}

.project-box {
  height: 100%;
}

.edu-box {
  max-width: 700px;
  margin: 20px auto;
}

#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  background: #0d6efd;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  display: none;
}

/* ===== DARK MODE ===== */
.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .box {
  background: #1f1f1f;
  color: white;
}
